<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
  id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
      target="_blank">
      <img src="../assets/img/logo-ct-dark.png" width="26px" height="26px" class="navbar-brand-img h-100"
        alt="main_logo">
      <span class="ms-1 font-weight-bold">Creative Tim</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1"> Acceuil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="categorie" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-credit-card text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Catégorie et Cours</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="actualite" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-app text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Actualités</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="hopitaux" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="mdi mdi-hospital-building text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Hopitaux</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="mdi mdi-pill text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Pharmacies</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="numero" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="mdi mdi-phone-classic text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Numéros Verts</span>
        </a>
      </li>
     
      <li class="nav-item dropdown" style="position: relative;">
        <a class="nav-link" href="#" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="mdi mdi-phone-classic text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Gestion des Comptes</span>
        </a>

        <ul class="submenu list-unstyled ps-4" [ngStyle]="{
    display: showSubmenu || isSubLinkActive() ? 'block' : 'none',
    position: 'relative',
    top: '100%',
    left: '0',
    background: 'white',
    zIndex: 1000
  }" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
          <li>
            <a class="nav-link" routerLink="compte" routerLinkActive="active">Administrateurs</a>
          </li>
          <li>
            <a class="nav-link" routerLink="apprenant" routerLinkActive="active">Apprenants</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="signalement" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-credit-card text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">signalement</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="intervention" routerLinkActive="active">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-app text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">intervention</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidenav-footer mx-5 " style=" padding-top: 100px;">
    <button class="btn btn-primary" (click)="Deconnection()">Se Déconnecter</button>
  </div>
</aside>