<div *ngIf="page===2">
    <div class="container-fluid py-6 " style="margin-left: 200px;" >
        <div class="row">
          <div class="col-md-8" >
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0"> Ajouter un nouveau numero</p>
                </div>
              </div>
              <div class="card-body">
                <form #form="ngForm" (ngSubmit)="add()" novalidate>
                    <p class="text-uppercase text-sm">Informations du numero</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="titre" style="font-size: 1.6 em;" >Numéro*
                                  <div *ngIf="numeros.invalid && numeros.touched" class="text-danger">Le numero est requis.</div>
                                </label>
                                <input class="form-control" type="text" [(ngModel)]="numero.numero" name="numero" placeholder="00228 99 99 99 99" required #numeros="ngModel">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description" class="form-control-label">Description*
                                  <div *ngIf="description.invalid && description.touched" class="text-danger">La description est requise.</div>
                                </label>
                                <textarea class="form-control" style="height:70px;" [(ngModel)]="numero.description" name="description" placeholder="Sapeurs Pompiers" required #description="ngModel"></textarea>
                            </div>
                            <button [disabled]="form.invalid" class="btn btn-primary mr-2">Enregistrer</button>
                            <button type="button" style="margin-left: 30px;" class="btn btn-light" (click)="annuler()">Retour</button>
                        </div>
                    </div>
                </form>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<div *ngIf="page ===1">
    <div class="row mt-4 py-6">
        <div class="col-lg-14 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between" >
                <h6 class="mb-4" style="font-size: 1.3em;">Liste des Numéros</h6>
                <button type="button" (click)="pageAjout()" style="float: right;" class="btn btn-success">
                  <i class="mdi mdi-plus"></i>Ajouter</button>
              </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase font-weight-bolder opacity-20">#</th>
                        <th class="text-uppercase font-weight-bolder opacity-20">Numéros</th>
                        <th class="text-uppercase font-weight-bolder opacity-20 ps-2">Description</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let numero of tableauNumeroVert; let ind=index" >
                        <tr>
                          <td>{{ind+1}} </td>
                          <td>
                            <p class=" mb-0" style="font-size: 1.5em; text-transform: uppercase;">{{numero.numero}} </p>
                          </td>
                          <td>
                            <p class=" mb-0" style="font-size: 1.5em; text-transform: uppercase;">{{numero.description}} </p>
                          </td>
                          <td class="align-middle ">
                            <i class="mdi mdi-pencil-circle"   style="color: rgb(255, 140, 0); font-size: 2.8em; margin-right: 10px;" (click)="pageModif(numero) "></i>
                            <i class="mdi mdi-delete-circle" style="color :rgb(255, 0, 0); font-size: 2.8em; margin-right: 10px;" (click)="pageSup(numero)" data-bs-toggle="modal" data-bs-target="#supModal"></i>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                    
            </div>
          </div>
        </div>
    </div>
</div>

<div *ngIf="page ===3">
  <div class="container-fluid py-6 " style="margin-left: 200px;" >
      <div class="row">
        <div class="col-md-8" >
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0"> Modification d'un Numéro/p>
              </div>
            </div>
            <div class="card-body">
              <form #form="ngForm">
                  <p class="text-uppercase text-sm">Informations du numéro</p>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="titre" class="form-control-label">Numéro</label>
                              <input class="form-control" type="text" [(ngModel)]="numeroSelect.numero" name="numero" required>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="description" class="form-control-label">Description</label>
                              <textarea class="form-control" style="height:70px;" [(ngModel)]="numeroSelect.description" name="description" required></textarea>
                          </div>
                          <button (click)="update()" class="btn btn-primary mr-2">Save</button>
                          <button type="button" class="btn btn-light" (click)="annuler()">Cancel</button>
                      </div>
                  </div>
              </form>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="supModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body">
              <h6 style="margin-right: 30px;">Supprimer Categorie :  </h6>
              <h4 style="text-transform: uppercase; color: blueviolet;">{{numeroSelect.numero}}</h4>
            <div class="modal-footer" style="margin-top: 50px;">
              <button type="button" (click)="annuler()" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">Confirmer</button>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div *ngIf="saveVisible"
      class="position-fixed top-0 end-0 p-3"
      style="z-index: 1050;">
   <div class="toast show align-items-center text-white bg-success border-0"
        role="alert" aria-live="assertive" aria-atomic="true">
     <div class="d-flex">
       <div class="toast-body">
         ✅ Numéro enregistré avec succès !
       </div>
       <button type="button" class="btn-close btn-close-white me-2 m-auto"
               aria-label="Close" (click)="saveVisible = false"></button>
     </div>
   </div>
 </div>

 <div *ngIf="modifVisible"
     class="position-fixed top-0 end-0 p-3"
     style="z-index: 1050;">
  <div class="toast show align-items-center text-white bg-success border-0"
       role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        ✅ Numéro Modifiée avec succès !
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto"
              aria-label="Close" (click)="modifVisible = false"></button>
    </div>
  </div>
</div>

<div *ngIf="supVisible"
     class="position-fixed top-0 end-0 p-3"
     style="z-index: 1050;">
  <div class="toast show align-items-center text-white bg-success border-0"
       role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        ✅ Numéro Supprimée avec succès !
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto"
              aria-label="Close" (click)="supVisible = false"></button>
    </div>
  </div>
</div>
